@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h3 {
  color:#4CAF50;
  margin:15px 0;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 50px;
}
.wrapper-landingpage {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 50px;
}
.banner-headline {
  color:white;
  text-shadow: 1px 1px 1px black;
  font-size:60px;
}
.banner-subheadline {
  color:white;
  text-shadow: 1px 1px 1px black;
  font-size:30px;
  margin-top:-10px;
  margin-bottom:20px;
}
.banner-button {
  height:60px;
  width:200px;
  margin:10px 10px;
  font-size: 24px;
  border:none;
}
.custom-navbar {
  background-color: #4CAF50;
  padding:10px 7vw;
}
.nav-link {
  color:white;
}
.navbar-brand {
  font-size: 34px;
  font-family: Comfortaa;
  color:white;
}
.banner {
  padding:15vh;
  background-image: url('https://preview.ibb.co/iusKDc/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 45vh;
}
.form-group-login-register {
  margin: 0 auto;
  max-width: 500px
}
.form-group-comments {
  margin: 0 auto;
  max-width: 90%
}
.form-control {
  text-align: center;
  margin:10px 0
}
.btn-primary {
  background-color: #4CAF50;
}
.btn-primary:hover {
  background-color: #388E3C;
}
.btn-primary:focus {
  background-color: #388E3C;
}
.database-results-list {
  margin: 25px 25px
}
.pet-name {
  margin:15px 0;
  color:#4CAF50;
}
.profile-photo {
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 50px silver
}
.profile-photo-div {
  margin-top: 25px;
}
.pet-info-div {
  margin: 25px auto;
  max-width: 600px;
}
.pet-info {
  font-size: 24px;
  color:#4CAF50;
}
.commenter-name {
  font-weight: bold;
  color:silver;
  text-align: left;
  font-size: 18px;
}
.comment-content {
  color:gray;
  text-align: left;
}
.single-comment {
padding: 15px 15px;
max-width: 600px;
margin:10px auto;
border-radius: 5px;
}
.fb-share-button {
  max-width: 600px;
}
.database-thumbnail {
  border-radius: 5px;
  max-width: 60%;
}
.db-view-text-div {
  padding:4vh;
  font-size: 24px;
}
.db-view-text-main {
  font-family:Comfortaa;
  font-size: 38px;
  color:#4CAF50;
}
.db-view-text {
  font-family:;
  font-size: 24px;
  color:gray;
}
.filter-button {
  background-color:#17d668;
  width:95%;
  margin:5px 0;
  border:none;
}
