@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h3 {
  color:#4CAF50;
  margin:15px 0;
}
.col-md-4 {
  text-align: center;
}
.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 50px;
}
.wrapper-landingpage {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 50px;
}
.banner-headline {
  color:white;
  text-shadow: 1px 1px 1px black;
  font-size:60px;
}
.banner-subheadline {
  color:white;
  text-shadow: 1px 1px 1px black;
  font-size:30px;
  margin-top:-10px;
  margin-bottom:20px;
}
.banner-button {
  height:60px;
  width:200px;
  margin:10px 10px;
  font-size: 24px;
  border:none;
}
.custom-navbar {
  background-color: #4CAF50;
  padding:10px 7vw;
}
.nav-link {
  color:white;
}
.registerloginlinks {
  color:white;
  margin-left:45vw;
}
.registerlogin-a {
  color:white;
}
.navbar-brand {
  font-size: 34px;
  font-family: Comfortaa;
  color:white;
}
.banner {
  padding:15vh;
  background-image: url('https://preview.ibb.co/iusKDc/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 45vh;
}
.landing-section-1 {
  text-align: center;
  padding:5vh 50px;
}
.blurb-img {
  max-width:100px;
  opacity:.7;
}
.blurb-div {
  margin:0px;
  padding:20px 50px;
  border:2px #4CAF50 solid;
  border-radius: 5px;
}
.form-group-login-register {
  margin: 0 auto;
  max-width: 500px
}
.form-group-comments {
  margin: 0 auto;
  max-width: 90%;
  margin-top:25px;
}
.form-control {
  text-align: center;
  margin:10px 0
}
.btn-primary {
  background-color: #4CAF50;
}
.btn-primary:hover {
  background-color: #388E3C;
}
.btn-primary:focus {
  background-color: #388E3C;
}
.database-results-list {
  margin: 25px 25px
}
.pet-name {
  margin:15px 0;
  color:#4CAF50;
}
.profile-photo {
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 1px 1px 50px silver
}
.profile-photo-div {
  margin-top: 25px;
}
.pet-info-div {
  margin: 25px auto;
  max-width: 600px;
}
.pet-info {
  font-size: 24px;
  color:#4CAF50;
}
.commenter-name {
  font-weight: bold;
  color:silver;
  text-align: left;
  font-size: 18px;
}
.comment-content {
  color:gray;
  text-align: left;
}
.single-comment {
padding: 15px 30px;
max-width: 600px;
margin:10px auto;
border-radius: 5px;
}
.comment-x-button {
  color:lightgray;
  cursor:pointer;
  float:right
}
.comment-x-button:hover {
  float:right
}
.fb-share-button {
  max-width: 600px;
}
.database-thumbnail {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
}
.db-view-text-div {
  padding:4vh;
  font-size: 24px;
}
.db-view-text-main {
  font-family:Arial;
  font-size: 20px;
  color:#4CAF50;
  margin-top:5px;
}
.db-view-text {
  font-family:;
  font-size: 13px;
  color:white;
  margin-bottom:5px;
}
.filter-button {
  background-color:lightgray;
  width:95%;
  margin:5px 0;
  border:none;
}
.single-db-result-card {
  background-color:white;
  box-shadow: 2px 2px 12px silver;
  border-radius: 5px;
  max-width: 90%;
  margin:10px;
  padding:5px 5px;
}
.no-comments {
  color:silver;
  font-size: 20px;
}
.city-filter-input {
  text-align: center;
  max-width: 98%;
  margin:10px auto;
}
