h3 {
  color:lightgray;
  margin:15px 0;
}
.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}
.form-group {
  margin: 0 auto;
  max-width: 70%
}
.form-control {
  text-align: center;
}
